@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro nam došli!</h1>
    <p>U ovoj aplikaciji možete provjeriti cijenu pokemon kartica.</p>
    <p>   <img width="962" height="463" src="~/pokemoni2.jpg" /></p>
</div>
